<!-- views/pages/quizes/question.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../../partials/header %>
    </header>

    <nav class="main" id="n1" role="navigation">
      <% include ../../partials/nav %>
    </nav>

    <section class="main" id="s1">
      <% include ../../partials/errorValidate %>
      <h3>Quiz: el juego de las preguntas</h3>
      <form method="get" action="/quizes/<%= quiz.id %>/answer">
        <p>Preguntas: <%- quiz.pregunta %></p>
        <textarea name='respuesta' row='2' col='40' placeholder="Responda aquí" autofocus=""></textarea>
        <input type="submit" value="Enviar">
        <p>Pregunta del usuario: <%= usuario %></p>
      </form><br>

      <a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a><br>

      <p><strong>Comentarios:</strong></p>
      <% for (i in quiz.Comments){ %>
        <p>- <%= quiz.Comments[i].texto %> </p>
      <% } %>

    </section>

    <footer class="main" id="f1">
        <% include ../../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap-->"

</body>
</html>
