<!-- views/pages/quizes/question.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../../partials/header %>
    </header>

    <% include ../../partials/nav %>

    <section class="main" id="s1">
      <% include ../../partials/errorValidate %>

      <div class="container-fluid">
        <div class="row">
          <h3>Quiz: el juego de las preguntas</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <form method="get" action="/quizes/<%= quiz.id %>/answer">
              <p><strong>Pregunta: <%- quiz.pregunta %> </strong></p>
              <%- include(quiz.tipo) %>
              <br>
              <button type="submit" class="btn btn-primary">Enviar</button>
              <p>Pregunta del usuario: <%= usuario %></p>
            </form>
          </div>
          <div class="col-md-6">
            <p><strong>Comentarios:</strong></p>
            <% for (i in quiz.Comments){ %>
              <% if(quiz.Comments[i].publicado){ %>
                <p>- <%= quiz.Comments[i].texto %> </p>
              <% }else if(session.user){ %>
                <% if(session.user.username == usuario){ %>
                  - <%= quiz.Comments[i].texto %> <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish"><button class="btn btn-warning">Publicar</button></a><br>
                <% } %>
              <% } %>
            <% } %>
            <br><a href="/quizes/<%= quiz.id %>/comments/new"><button class="btn btn-info">Nuevo comentario</button></a><br>
          </div>
        </div>
      </div>

    </section>

    <footer class="main" id="f1">
        <% include ../../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap-->

</body>
</html>
